p {
  display: block;
  margin-block-start: 0.6em;
  /* margin-block-end: 1em; */
  margin-inline-start: 0.6em;
  /* margin-inline-end: 1em; */
}

a {
  text-decoration: none;
  color: white;
}

.App {
  color: white;
  position: absolute; 
  width: 100%;
  height: 100%;    
  font-style: normal;
  font-weight: normal;
  /* font-size: 3.9669421487603307VW;; */
  font-size: 6.8VH;
  line-height: 1.16;
  }

  .first-para {
    margin-bottom: 1.4em;   
  }

  .second-para {
  margin-bottom: 2em;  

  }

  .first-para, .second-para {
  margin-right: 0.8em;    

  }


  .underline-word {
    text-decoration: none; 
    border-bottom: 2px solid white;
  }

  .sans-style {
    font-family: Helvetica, sans-serif;
    /* font-size: 3.6363636363636362VH; */
    font-size: 6.8VH;
    font-weight: lighter;
  }

  /* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .App, .underline-word, .sans-style {
    width: 70%;
    font-size: 26px;
    }
    .first-para {
      margin-bottom: 20px;
    }
    .second-para {
      margin-bottom: 40px;
      
    }

} */





