.App {
  color: white;
  position: absolute; 
  width: 1210px;
  height: 470px;
  left: 40px;
  top: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  }

  p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .first-para {
    margin-bottom: 58px;
  }

  .underline-word {
    text-decoration: none; 
    border-bottom: 2px solid white;
  }

  .sans-style {
    font-family: Helvetica, sans-serif;
  }